.animTable {
    border-collapse: collapse;
    width: 35%;
    font-size: smaller;
    z-index: 10000;
    height: 100vh;
    background: white;
    overflow: scroll;
    border: 1px solid;
}

.td, .th, .tr {
  border: 1px solid;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.trSelected {
    background:rgb(255, 144, 189);
}