@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
    opacity: 1.2;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pulseImage {
  animation: pulse 1s infinite ease-in-out;
  transition: transform 0.3s;
  width: 200px;
}

.loaderFullWidth {
  background: #edebd5;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderSmall {
  background: #edebd5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}