@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
    opacity: 1.2;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.mainClass {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
}

.pulseImage {
  /* animation: pulse 1s infinite ease-in-out; */
  transition: transform 0.3s;
  width: 200px;
  transform: translateY(-20px);

}

.loaderFullWidth {
  background: #edebd5;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderSmall {
  background: #edebd5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playerContent {
  width: 100%;
  height: 100%;
  position: relative

}

.playerOverlay {
  position: absolute;
  bottom: 0;
  z-index: 1;
  height: 50px;
  box-sizing:border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.title {
  font-weight: bolder;
  font-family: "Raleway";
}

.author {
  font-family: "Raleway";
}